.cabecalho{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 407px;
  width: 1440px;
  font-family: 'Inter', sans-serif;
}

.subtext{
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 4px 12px;
  line-height: 20px;
  color: var(--main-color);
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
}

h1{
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 36px;
}

.texto-suporte{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color)
}
