@import "navegation.css";
@import "aboutus.css";
@import "vagas.css";
@import "depoimentos.css";
@import "formulario.css";

:root {
  --text-color: #667085;
  --main-color: #8E2424;
}



/* body {
  width: 100%;
  height: 100vh;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}


 h3{
  align-self: flex-start;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-left: 336px;
}