.vagas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 1798px;
  left: 0px;
  top: 775px;
  font-family: 'Inter', sans-serif;
}

.vagas h2{
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000;
}

.vagas img{
  width: 1216px;
  height: 400px;
  left: 112px;
  margin-right: 112px;
  top: 298px;
}

.vagas p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  padding-top: 20px;
  padding-bottom: 64px;
}

.vaga{
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 136px;
  margin: 0px;
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid #EAECF0;
  box-sizing: border-box;
  border-radius: 16px;
}

.titulo-vaga{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

.informacoes{
  padding-top: 32px;
}

.carga-salario{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  padding-right: 24px;
}

.img-reuniao{
  border-radius: 35px;
  box-shadow: 10px 5px 5px #09090985;
}

.vagas h3{
  
  font-size: 25px;
}